<h4>fx_rates/create</h4>

<p>
  Just for larks: fx_rate by date and currency (2017-01-24, MEX):<br />
  <% fx_rate = FxRate.fx_rate_by_date_and_currency("2017-01-24", "MXN") %>
  <%= fx_rate.rate %>

</p>