
<div><a href="/exchange_rate/new">New conversion</a></div>

<h4>rate_records/create</h4>

<div id="results">
  <table>
    <tr>
      <th>Base currency</th>
      <th></th>
      <th>Counter currency</th>
    </tr>
    <tr>
      <td><%= @from_currency %></td>
      <td></td>
      <td><%= @to_currency %></td>
    </tr>
    <tr>
      <td><%= @amount %></td>
      <td></td>
      <td><%= @converted_amount %></td>
    </tr>
    
  </table>
</div>