<h4>rate_records/create</h4>

<p>
  Just for larks: rate_record by date and currency (2017-01-24, MXN):<br />
  <% rate_record = RateRecord.rate_record_by_date_and_currency("2017-01-24", "MXN") %>
  <%= rate_record.rate %>

</p>