
<form action="/" method="GET" id="convert-form">
  <div id="calendar">
    <p>Date: <input type="text" id="datepicker"></p>
  </div>
  <div id="amount"><p>Enter an amount: <input type="text" id="amount"></p></div>
  <div id="currencies">
    <p>select from currency: <select></select></p>
    <p>select to currency: <select></select></p>
  </div>
  <button>Convert</button>
</form>

<div id="result"><p>Result displays here</p></div>
