
<h3>No data saved</h3>
<h3>Please click 'Fetch Data' to continue</h3>

<form action="/feed" method="POST">
  <button id="fetch-data" onclick="buttonClick()" class="button">Fetch Data</button>
</form>