<!DOCTYPE html>
<html>
  <head>
    <title>Exhcange Rates</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="../script.js"></script>
  </head>
  
  <body>
    <header id="nav-bar">
      <h1>Exchange Rates</h1>
      <div class="cell"><a href="/">Home</a></div>
      <hr>
    </header>

    <div id="main-div">
      <%= yield %>  
    </div>

  </body>
</html>