

<form action="/exchange_rates" method="POST" id="convert-form">

  <table>

    <tr>
      <td><label for="date_requested">Select a date:</label></td>
      <td><input type="text" id="datepicker" name="date_requested"></td>
    </tr>
    
    <tr>
      <td><label for="from-currency">Select base currency:</label></td>
      <td>
        <select name="from_currency">
          <option value="">Select...</option>
          <% @currencies.each do |currency| %>
            <option value="<%= currency %>"><%= currency %></option>
          <% end %>
        </select>
      </td>
    </tr>

    <tr>
      <td><label for="to-currency">Select counter currency</label></td>
      <td>
        <select name="to_currency">
          <option value="">Select...</option>
          <% @currencies.each do |currency| %>
            <option value="<%= currency %>"><%= currency %></option>
          <% end %>
        </select>
      </td>
    </tr>

    <tr>
      <td><label for="amount">Enter the amount to convert:</label></td>
      <td><input type="text" name="amount"></td>
    </tr>

  </table>

  <br>
  <input class="button" type="submit" value="Convert">
</form>
