
<form action="/rate_records" method="POST" id="convert-form">
  <label for="date_requested">Date:</label>
  <input type="text" id="datepicker" name="date_requested"><br>

  <label for="amount">Amount:</label>
  <input type="text" name="amount"><br>

  <label for="from-currency">select from currency</label>
  <select name="from_currency">
    <option value="">Select...</option>
    <% @currencies.each do |currency| %>
      <option value="<%= currency %>"><%= currency %></option>
    <% end %>
  </select><br>

  <label for="to-currency">select to currency</label>
  <select name="to_currency">
    <option value="">Select...</option>
    <% @currencies.each do |currency| %>
      <option value="<%= currency %>"><%= currency %></option>
    <% end %>
  </select><br>

  <input type="submit" value="Convert">
</form>

<div id="result"><p>Result displays here</p></div>
